<app-sidebar></app-sidebar>

<div class="d-flex">
  <!-- Start Sidebar -->
  <div class="bg-dark p-1 sidebar shadow-lg position-fixed" id="sidebar">
    <hr class="text-warning">
    <p class="text-light text-center">History</p>
    <div class="list-group list-reset text-center d-md-none d-lg-block d-none d-sm-block d-sm-none d-md-block">
      <a 
        href="#" class="list-group-item list-group-item-action list-group-item-info"  
        *ngFor="let elem of history">
        {{ elem['artist'] | titlecase }} | {{ elem['method'] }}
      </a>
    </div>

  </div>
  <!-- End Sidebar -->
  
  <div class="content mt-5">
    <app-artist-page></app-artist-page>
  </div>
</div>